{% extends 'base.html.twig' %}
{% block title %}CONCEPT{% endblock %}

{% block body %}
    <div class="border border-amber-50 text-white text-center mt-10 mx-10 p-4">
        <h3 class="underline">Concept</h3>
        <p class="text-xs mt-10 mx-6">The concept is very simple.
            This website is usefull in order to help you to learn and understand every each status code.
        </p>
        <p class="text-xs mt-10 mx-6">Everyday, you can find a new HTTP Status Code highlighted with :<br><br>
        <span class="text-custom-green">-Its Code</span><br>
        <span class="text-custom-green">-Its Message</span><br>
        <span class="text-custom-green">-Its Signification</span><br></p>
        <p class="text-xs mt-10 mx-6">Also, there is a fun part on this website. Eachday, you can try to find the code of the yesterday's HTTP Status Code
            thanks to its message.<br><br>
            Try to be the best and keep your streak of correct answers.
        </p>
    </div>
{% endblock %}
