{% extends 'base.html.twig' %}
{% block title %}RANKING{% endblock %}

{% block body %}
    <div class="flex flex-col items-center justify-center w-screen mt-10">
        <!-- Component Start -->
        <h1 class="text-lg text-white font-medium underline">History</h1>
        <div class="flex flex-col mt-6">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden sm:rounded-lg">
                        <table class="min-w-full text-sm text-gray-200">
                            <thead class="text-xs uppercase font-medium border border-green-500">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                    Date
                                </th>
                                <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tbody class="border border-green-500">
                            {% for status in history|sort((a, b) => b.date <=> a.date)|slice(2, 12) %}
                            <tr class="bg-black bg-opacity-20">
                                <td class="flex px-6 py-4 whitespace-nowrap">
                                    <span class="font-medium">{{ status.date|date('Y/m/d') }}</span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {{ status.status.code }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Component End  -->
    </div>
{% endblock %}
