{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="bg-sky-500 sm:bg-amber-600">Hello Jordan!</h1>
</div>
{% endblock %}
