@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
    font-family: 'Press Start';
    src: url(https://fonts.googleapis.com/css2?family=Press+Start);
}

:root {
    --mainfont: 'Press Start 2P', cursive;
}

body {
    font-family: var(--mainfont);
}

:focus {outline:0 !important;}


.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 3000ms infinite;
    animation: ellipsis steps(4,end) 3000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

/* HAMBURGER MENU */

.hamburger {
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: #ffffff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
    background: #ffffff;
}

.hamburger__top-bun {
    transform: translateY(-5px);
}

.hamburger__bottom-bun {
    transform: translateY(3px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(-1px);
}

.open .hamburger__top-bun {
    transform:
            rotate(45deg)
            translateY(0px);
}

.open .hamburger__bottom-bun {
    transform:
            rotate(-45deg)
            translateY(0px);
}
